<!DOCTYPE html>
<html>
<head>
    <title>Ticket History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>Ticket History</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>Issue</th>
            <th>Category</th>
            <th>Solution</th>
        </tr>

        {% for ticket in tickets %}
        <tr>
            <td>{{ ticket[0] }}</td>
            <td>{{ ticket[1] }}</td>
            <td>{{ ticket[2] }}</td>
            <td>{{ ticket[3] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/">Back to Home</a>
</div>

</body>
</html>